<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>July 4th CodeAcademy Potluck Chef list.</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <h1>Form</h1>
      <form action="#" th:action="@{/delete}" th:object="${user}" method="post">
          <p>Id: <input type="text" th:field="*{id}" /></p> 
          
          <p><input type="submit" value="Delete" /> <input type="reset" value="Reset" /></p>
      </form>
       <a href ="/index"> Add More People</a>
     <a href ="/delete"> Delete People</a>
  </body>
</html>
